@import 'tailwindcss';

@theme {
  --color-primary-blue: #001f3f;
  --color-primary-gray: #363939;
  --color-primary-gold: #CFA746;
  --color-primary-gold-dark: #B08E3B;

  --spacing-10vw: 10vw;

  --spacing-2rem: 2rem;
}
